---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
// import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import Pagination from "@components/Pagination.astro";
// import Card from "@components/Card";
// import { SITE } from "@config";

export interface Props {
  // currentPage: number;
  // totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

// const { currentPage, totalPages, paginatedPosts } = Astro.props;
const { paginatedPosts } = Astro.props;
---

<Layout title={`Posts`}>
  <Header activeNav="posts" />
  <!-- <Main pageTitle="Posts" pageDesc="All the articles I've posted."> -->
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => {
          const headerProps = {
            style: { viewTransitionName: data.title },
            className: "text-lg font-medium decoration-dashed hover:underline",
          };
          return (
            // <Card href={`/posts/${slug}/`} frontmatter={data} />
            <li class="my-6">
              <a
                href={`/posts/${slug}/`}
                class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
              >
                <h2 {...headerProps}>{data.title}</h2>
              </a>
              <p>{data.description}</p>
            </li>
          )
        })
      }
    </ul>
  <!-- </Main> -->

  <!-- <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  /> -->

  <Footer />
</Layout>