---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
// import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import Card from "@components/Card";
// import Pagination from "@components/Pagination.astro";
// import { SITE } from "@config";

export interface Props {
  // currentPage: number;
  // totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: string;
  tagName: string;
}

// const { currentPage, totalPages, paginatedPosts, tag, tagName } = Astro.props;
const { paginatedPosts, tag, tagName } = Astro.props;

---

<Layout title={`Tag: ${tagName}`}>
  <Header activeNav="tags" />
  <!-- <Main
    pageTitle={[`Tag:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tagName}".`}
  > -->
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => {
          const headerProps = {
            // style: { viewTransitionName: slugifyStr(title) },
            style: { viewTransitionName: data.title },
            className: "text-lg font-medium decoration-dashed hover:underline",
          };

          // <Card href={`/posts/${slug}/`} frontmatter={data} />
          return (
            <li class="my-6">
              <a
                href={`/posts/${slug}/`}
                class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
              >
                  <h2 {...headerProps}>{data.title}</h2>

              </a>
              <p>{data.description}</p> 
            </li>
          ); }
        )
      }
    </ul>
  <!-- </Main> -->

  <!-- <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/tags/${tag}/${currentPage + 1}/`}
  /> -->

  <Footer />
</Layout>